*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase Secrets
google-services.json

# Local Icons (not to be pushed)
ic_home.xml
ic_notifications.xml
.idea/deploymentTargetSelector.xml
